
.NotePageMain {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.NotePageMain__content {
  color: #3a3939;
  max-width: 380px;
}
 label {
   color: #bdbdbd;
   font-size: 20px;
   
padding: 10px;
 }

 input {
   height: .5in;
   width: 2.2in;
   
   padding: 10px;
 }

 form {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-left: 100px; }

 button {
   height: 50px;
   width: 120px;
   border-style: round;
   background-color: black;
   color: #bdbdbd;
   font-size: 16px;
   margin: 20px;
 }

 select.folders{
height: 0.5in;
width: 2.5in;
  align-items: center;
  text-align: center;
 }